.eDgett{
  height: 270px;
}

.sc-eDZJfc.eDgett > img{
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 50%;
  object-fit: contain;
}

.sc-hGglLj{
  height: 270px;
}

img{
  object-fit: cover;
}